/* Universal Styling */

* {
  /* outline: 1px solid red; */
  margin: 0;
  font-family: 'Ubuntu', sans-serif; 
  color: #123c69
} 

img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Carter One', cursive;
  text-align: center;
}

h2 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: #427bb8
}

h3 {
  color: #7d90a7;  
}

h4 {
  color: #7d90a7;  
}

blockquote {
  border-left: 3px solid #123c69;
  padding-left: 15px;
  font-size: 1.1em;
  font-style: italic;
  line-height: 1.8rem;
  color: #427bb8;
  margin-left: 5rem;
  margin-right: 5rem;
}

#date {
  text-align: center;
  font-style: italic;
}

p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5em;
}

li {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

figure {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

figcaption {
  color: #7d90a7;
  font-style: italic;
  font-size: 0.9rem;
  margin-top: 0.4em;
}

code {
  font-family: monospace;
  background: lightgray;
  color: black;
  font-size: 1.2em;
}

hr {
  background-color: #f1ece9;
  height: 3px;
}

/* header & navbar CSS */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.bannerimage-container {
  height:20vh;
  background: #f1ece9;  
  display: flex;
  justify-content: center;
}

#bannerimage {
  max-width: 800px;
  height: auto;
}


.nav-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #123c69; 
}

.nav-links {
  width: 60%;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.nav-links a {
  text-decoration: none;
  color: #f1ece9;
}

.nav-links a:hover {
  color: #7d90a7;
}


/*Index Styling*/
@media (min-width: 760px){
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(3, 33%);
  }
}

.grid-item1 {
  grid-column: 1 / 4;
}

/*Body CSS*/

body {
  background-color: #d5dce4; 
}

.body-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 2em; */
  margin-bottom: 2em;
  position: relative;
  top: 28vh;
  }


.image-container {
  display: flex;
  justify-content: center;
}

.welcomeimage {
  border-radius: 50%;
  max-width: 10em;
  margin: 1rem auto;
  box-shadow: 6px 6px 46px -5px #123c69;
  }

.welcome-text-container {
  width: 80%;
  margin: auto;
}

.signature {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
  line-height: 1.2rem;
  margin-bottom: 1em;
  }

.center-text {
  text-align: center;
}

.homeimages {
  width: 8em;
  height: 8em;
  margin: 1rem auto;
  border-radius: 6px;
  box-shadow: 6px 6px 46px -5px #123c69;
}

.images {
  max-width: 15em;
  max-height: 15em;
  margin: 0.5rem auto;
  border-radius: 6px;
  box-shadow: 6px 6px 46px -5px #123c69;
}

.homepage-links {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;  
}

.homepage-links a {
  text-decoration: none;
  font-size: 1.2em;
  display: block;  
  line-height: 1.5em;
}

.homepage-links a:hover {
  color: #7d90a7;
}

.blog-images {
  width: 50%;
  margin: 0 auto;
}

#dishes {
  width: 100%;
}

#link {
  color: #427bb8
}

.inline {
  color: #7d90a7;  
}

#video {
  width: 100%;
  aspect-ratio: 16/9;
  margin-bottom: 20px;
}

.flex {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

.codeblock {
  line-height: 1.1em;
  justify-content: center;
}


/*Footer CSS*/

footer {
  background-color: #f1Ece9;
  position: relative;
  top: 28vh;

}

.contact-container {
  width: 100%;
  background-color: #f1ECE9;
  text-align: center;
  font-weight: bold;
  padding-bottom: 1em;
}

.contact-images {
  display: inline-flex;
  width: 2em;
  height: 2em;
  margin: 0 10px;
}

#contact {
  padding: 1em;
  color: #123c69
}

/* CSS Blog Post Styling Starts Here */

.button {
  display: inline-block;
  padding: 0.2em;
  font-size: 0.8em;
  background-color: #f1ece9;
  border: 2px solid #123C69;
  border-radius: 4px;
}

#scooby-container {
  position: relative;
}

@media (min-width: 780px) {
#scoobysuccess {
  position: absolute;
  top: 0;
  max-width: 12em;
  max-height: 12em;
  }
}

#blockQuote {
  margin-top: 1rem;
}

#blockName {
  text-align: right;
  margin-bottom: 1rem;
}

